/* CSS declarations go here */
html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.container-fluid, .row {
  height: 100%;
}

.row.no-padding > [class|="col"] {
  padding: 0px;
}

.map-container {
  /*height: 600px;*/
  height: 100%;
}

#stores-list-container {
  height: 100%;
}

#stores-list-container #stores-list {
  height: calc(100% - 70px);
  margin: 0px;
  overflow-y: scroll;
}

#stores-list li {
  padding: 5px 0px 5px 10px;
  transition: background-color 0.2s, color 0.5s, padding 0.2s;
}

#stores-list li:hover {
  cursor: pointer;
  background-color: #333;
  color: white;
  padding-left: 30px;
}
