/* CSS declarations go here */
html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.container-fluid, .row {
  height: 100%;
}

.map-container {
  /*height: 600px;*/
  height: 100%;
}
